@import "~bootstrap/dist/css/bootstrap.min.css";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

html {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232323 !important;
  height: 100%;
  overflow: auto;
}